:root {
  --mainBlue: #1c919c;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #f2f2f2;
  font-family: "Raleway", sans-serif;
}
.main-blue {
  color: var(--mainBlue);
}
.text-uppercase {
  text-transform: uppercase;
}
.text-capitalized {
  text-transform: capitalize;
}
.text-center {
  text-align: center;
}

.mt-60 {
  margin-top: 50px !important;
}
.pt-60 {
  padding-top: 50px !important;
}
.nm {
  margin: 0;
}
.np {
  padding: 0;
}

h2 {
  font-weight: 200 !important;
  text-transform: initial !important;
}

img {
  opacity: 0.9;
}

button:hover {
  background-color: #2e7079;
}
button,
a {
  cursor: pointer;
}
@media screen and (max-width: 1366px) {
  .project-container-content {
    margin: auto;
    width: 90% !important;
  }
  .about-wrapper {
    width: 100%;
    margin: auto;
  }
}
@media screen and (max-width: 1300px) {
  .about-wrapper {
    width: 90% !important;
    margin: auto;
  }
  .about-container {
    display: flex !important;
    flex-direction: column;
  }
  .about-me {
    max-width: 400px;
    text-align: center !important;
  }
}

@media screen and (max-width: 768px) {
  .about-wrapper {
    width: 100%;
  }
  .about-container {
    justify-content: center !important;
  }
  .progress {
    background-color: #d8d8d8;
    border-radius: 20px;
    position: relative;
    margin: 15px 0;
    height: 10px;
    width: 100%;
  }
  .about-me {
    text-align: center !important;
    padding: 0px !important;
    max-width: 100%;
  }
  .home-wrapper {
    background: url(/images/monolith.jpg) no-repeat center;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    position: relative;
    height: 104vh;
  }
}
